//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.page-template-template-home{
	.hero-slider{
		margin-bottom:50px;
		
		.hero-slide-item{
			position:relative;
			color:#fff;
				
			.hero-image{
				background-position:center;
				background-size:cover;
			}
			
			.hero-content-wrapper{
				position: absolute;
				width: 80%;
				left: 50%;
				top: 0;
				height: 100%;
				transform: translateX(-50%);
				
				.hero-content{
					position:absolute;
					top:50%;
					left:0;
					transform:translateY(-50%);
					max-width:600px;
					
					h2{
						margin-top:0;
						//font-size:52px;
						font-size:42px;
						font-weight:600;
					}
					
					p{
						font-size:20px;
						line-height:38px;
					}
					
					a{
						color:#fff;
						text-decoration:underline;
					}
				}
			}
		}
	}

	
	
	.image-text-item{
		margin-bottom:30px;
	
		.image-container{
			//margin-bottom:40px;
		}
		
		.text-container{
			h3{
				color:#3853A4;
				//font-weight:600;
				margin-top:40px;
				margin-bottom:22px;
			}
			
			p{
				line-height:28px;
			}
			
			a{
				color:#6277B7;
				text-decoration:underline;
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.page-template-template-home{
	
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.page-template-template-home{
		
	}	
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.page-template-template-home{
	
	}
}