body{
	font-family:'Raleway', sans-serif;
	color:#221F1F;
	font-size:18px;
}

p{
	line-height:42px;
}

.admin-bar{
	.navbar-default{
		margin-top:32px;
	}
	
	.main{
		//margin-top:90px;
	}
}

.main{
	float:none!important;
	padding:0!important;
	margin-top:68px;
}