//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.banner { }

.navbar-header{
	background:#fff;
}

.navbar-default{
	border-bottom: 0;
	//background-color:transparent;
	background:#fff;
	
	.navbar-toggle{
		padding: 0;
		margin-top:22px;
		margin-right:20px;
		border: none;
		
		&:hover, &:focus{
			background:#fff;
		}
		
		.icon-bar{
			background:#3754A1;
			width:32px;
			height:3px;
		}
		
		.icon-bar + .icon-bar{
			margin-top:7px;
		}
	}
	
	.navbar-collapse{
		border:0;
		max-height:none;
	}
	
	.nav-container{
		background-color:#3754A1;	
	}
	
	a{
		text-decoration:none!important;
	}
	
	.navbar-nav.mobile-menu{
		text-align:center;
		& > li{
			& > a{
				color:#fff;
				text-transform:uppercase;
				font-weight:bold;
				letter-spacing:2px;
				font-size:15px;
				padding-top: 20px;
			    padding-bottom: 20px;
				
				&:focus, &:hover{
					color:#27ABE2;
				}
			}
		}
		
		& > .active > a{
			background-color:transparent;
			color:#27ABE2;
		}
	}
}

.navbar-brand{
	max-width:230px;
	height:auto;
	padding:10px 15px;
}

.navbar{
	margin-bottom:0;
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) and (max-width:992px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.navbar-toggle{
		display:none;
	}
	
	.navbar-header{
		padding:15px 0;
		//width:284px;
		width:215px;
		float:left;
	}

	.navbar-brand{
		padding:0;
		max-width:284px;
		height:auto;
	}
	
	.navbar-nav{
		float: right;
		margin-top: 22px;
	}
	
	/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
		color:#2C499F!important;
		background-color:#fff!important;
	}*/
	
	.navbar-default{
		background:#fff;
	
		.nav-container{
			background:#fff;
		}
		
		.navbar-nav{
			& > li{
				& > a{
					font-size: 12px;
					letter-spacing: 3px;
					text-transform: uppercase;
					color: #171717!important;
					font-weight: bold;
					//padding:10px 25px;
					padding:10px 15px;
				}
			}
		
			a{
				&:hover, &:focus{
					color:#2C499F!important;
					background-color:#fff!important;
				}
			}
		
			& > .active{
				& > a{
					color:#2C499F!important;
					background-color:#fff!important;
					
					&:hover,&:focus{
						color:#2C499F!important;
						background-color:#fff!important;
					}
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.navbar-header{
		width:284px;
	}
	
	.navbar-nav{
		margin-top: 30px;
	}

	.navbar-default{
		.navbar-nav{
			& > li{
				& > a{
					padding:10px 25px;
				}
			}
		}
	}
}